@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-red-primary: #cc0000;
  --color-red-hover: #ff3333;
  --color-gray-dark: #333333;
  --color-gray-text: #888888;

  --font-noto-sans: var(--font-noto-sans);
  --font-nanum-pen: var(--font-nanum-pen);

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom Utilities */
@utility animate-scroll {
  animation: scroll 35s linear infinite;
}

@utility filter-none {
  filter: none;
}

@layer base {
  * {
    @apply border-[#222];
  }
}
